.calculator{
    width: 270px;
    margin: auto;
    border: 1px solid;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    background-color: rgb(119, 119, 119);
}
#result{
    font-size: 50px;
    width: 240px;
    margin: 5px;
    border: 1px solid;
    border-radius: 4px;

}
#buttonAll{
   width: 260px; 
    margin: auto;    
}
button{
  font-size: 40px; 
  font-family:  'Times New Roman', Times, serif;
  width: 50px;
  margin: 4px; 
  background-color: rgb(211, 207, 207);
  border-radius: 8px;
  
}
#equal{
    width: 200px;
}
#clear{
    color: rgb(248, 73, 42);
}